<form [formGroup]="addForm">
    <div class="row mb-3">
        <div class="col-12 mb-3 mt-3">
            <h5>Добавить студента</h5>
        </div>
        <div class="col-4">
            <input type="text" name='name' class="form-control" placeholder="Название" formControlName="name" />
        </div>
        <div class="col-4">
            <input type="text" name='surname' class="form-control" placeholder="вес" formControlName="surname" />
        </div>
        <div class="col-4">
            <input type="text" name='patronymic' class="form-control" placeholder="Наличие" formControlName="patronymic" />
        </div>
        <div class="col-4 mt-2">
            <input  type="text" class="form-control" placeholder="Артикул" formControlName="phone" />
        </div>
        <div class="col-4 mt-2">
            <input type="text" name='price' class="form-control" placeholder="Цена" formControlName="prise" />
        </div>
        <!-- <div class="col-4 mt-2">
            <input type="date" class="form-control" placeholder="Дата рождения" formControlName="date" />
        </div> -->
        <div class="col-6 mt-2">
            <select class="custom-select" formControlName="course">
          <option [ngValue]="1">Мебель</option>
          <option [ngValue]="2">Техника</option>
          <option [ngValue]="3">Книги</option>
          <option [ngValue]="4">Телефоны</option>
        </select>
        </div>
        <!-- <div class="col-6 mt-2">
            <input type="text" class="form-control" placeholder="Группа" formControlName="group" />
        </div> -->
        <div class="col-12 mt-2">
            <button class="btn btn-outline-primary btn-sm" [disabled]="addForm.invalid" (click)="addStudent()">
      Добавить
    </button>
            <div *ngIf="addForm.invalid" class="alert alert-primary mt-2">
                Для добавления студента заполните корректно все поля
            </div>
        </div>
    </div>
</form>